### 1. 퍼아썬 파일 불러오기

In [1]:
import zipfile

zip_file = zipfile.ZipFile('청와대 청원.zip')
zip_file.extractall()

In [2]:
import pandas as pd

# 데이터를 3번째 행 까지만 불러오기 (nrow = 3)

trian_3 = pd.read_csv('train.csv', nrows=3)
test_3 = pd.read_csv('test.csv', nrows=3)

In [3]:
trian_3.head()

   index  category                                               data
0      0         2  신혼부부위한 주택정책 보다 보육시설 늘려주세요.. 국민세금으로 일부를 위한 정책펴지...
1      1         0  학교이름에 '남자'도 붙여주세요. 울산여자중학교에 재학중인 학생입니다 최근 양성평등...
2      2         1  빙상연맹, 대한축구협회등 각종 체육협회의 비리를 철저하게 밝혀주세요.. 최근 동계올...

In [4]:
train = pd.read_csv('train.csv')
train.head()

   index  category                                               data
0      0         2  신혼부부위한 주택정책 보다 보육시설 늘려주세요.. 국민세금으로 일부를 위한 정책펴지...
1      1         0  학교이름에 '남자'도 붙여주세요. 울산여자중학교에 재학중인 학생입니다 최근 양성평등...
2      2         1  빙상연맹, 대한축구협회등 각종 체육협회의 비리를 철저하게 밝혀주세요.. 최근 동계올...
3      3         1  티비 12세,15세 관람가도 연령확인 의무화 하자.. 제기 에전에 티비를 보다가 잠...
4      4         1  무더운 여름철엔 남성들도 시원한 자율복장을 해야. 무더운 여름철에는 남성들도 노넥타...

In [5]:
# 데이터를 실습에 맞게 조작

train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
df = pd.DataFrame({
                    'index' : ['인덱스'],
                    'category' : ['카테고리'],
                    'data' : ['데이터']
                    })

train_new = pd.concat([df, train])
test_new = pd.concat([df, test])

train_new.to_csv('train.csv', index=False)
test_new.to_csv('test.csv', index=False)

In [6]:
# 데이터의 두번째 행을 컬럼으로 지정하여 불러오기

train = pd.read_csv('train.csv', header=1)
test = pd.read_csv('test.csv', header=1)

In [7]:
train.head()

   인덱스  카테고리                                                데이터
0    0     2  신혼부부위한 주택정책 보다 보육시설 늘려주세요.. 국민세금으로 일부를 위한 정책펴지...
1    1     0  학교이름에 '남자'도 붙여주세요. 울산여자중학교에 재학중인 학생입니다 최근 양성평등...
2    2     1  빙상연맹, 대한축구협회등 각종 체육협회의 비리를 철저하게 밝혀주세요.. 최근 동계올...
3    3     1  티비 12세,15세 관람가도 연령확인 의무화 하자.. 제기 에전에 티비를 보다가 잠...
4    4     1  무더운 여름철엔 남성들도 시원한 자율복장을 해야. 무더운 여름철에는 남성들도 노넥타...

In [8]:
# 원본 비교

train = pd.read_csv('train.csv')
train.head()

  index category                                               data
0   인덱스     카테고리                                                데이터
1     0        2  신혼부부위한 주택정책 보다 보육시설 늘려주세요.. 국민세금으로 일부를 위한 정책펴지...
2     1        0  학교이름에 '남자'도 붙여주세요. 울산여자중학교에 재학중인 학생입니다 최근 양성평등...
3     2        1  빙상연맹, 대한축구협회등 각종 체육협회의 비리를 철저하게 밝혀주세요.. 최근 동계올...
4     3        1  티비 12세,15세 관람가도 연령확인 의무화 하자.. 제기 에전에 티비를 보다가 잠...

In [9]:
# 변환된 csv 파일 원상복구

zip_file = zipfile.ZipFile('청와대 청원.zip')
zip_file.extractall()

index_col='데이터 칼럼' -> 데이터 칼럼을 인덱스로 지정할 수 있음

In [10]:
import pandas as pd

train_index = pd.read_csv('train.csv', index_col='index')
test_index = pd.read_csv('test.csv', index_col='index')

In [11]:
train_index.head()

       category                                               data
index
0             2  신혼부부위한 주택정책 보다 보육시설 늘려주세요.. 국민세금으로 일부를 위한 정책펴지...
1             0  학교이름에 '남자'도 붙여주세요. 울산여자중학교에 재학중인 학생입니다 최근 양성평등...
2             1  빙상연맹, 대한축구협회등 각종 체육협회의 비리를 철저하게 밝혀주세요.. 최근 동계올...
3             1  티비 12세,15세 관람가도 연령확인 의무화 하자.. 제기 에전에 티비를 보다가 잠...
4             1  무더운 여름철엔 남성들도 시원한 자율복장을 해야. 무더운 여름철에는 남성들도 노넥타...

In [12]:
train = pd.read_csv('train.csv')
train.head()

   index  category                                               data
0      0         2  신혼부부위한 주택정책 보다 보육시설 늘려주세요.. 국민세금으로 일부를 위한 정책펴지...
1      1         0  학교이름에 '남자'도 붙여주세요. 울산여자중학교에 재학중인 학생입니다 최근 양성평등...
2      2         1  빙상연맹, 대한축구협회등 각종 체육협회의 비리를 철저하게 밝혀주세요.. 최근 동계올...
3      3         1  티비 12세,15세 관람가도 연령확인 의무화 하자.. 제기 에전에 티비를 보다가 잠...
4      4         1  무더운 여름철엔 남성들도 시원한 자율복장을 해야. 무더운 여름철에는 남성들도 노넥타...

결측치를 제외한 데이터 로드 -> na_filter=False

In [13]:
train_notnull = pd.read_csv('train.csv', na_filter=False)
test_notnull = pd.read_csv('test.csv', na_filter=False)

train_notnull.isnull().sum()

index       0
category    0
data        0
dtype: int64

In [14]:
train = pd.read_csv('train.csv')
train.isnull().sum()

index       0
category    0
data        8
dtype: int64

아래쪽 n개의 행을 제외 하고 데이터 불러오기 skipfooter=?

In [15]:
train_skipfooter = pd.read_csv('train.csv', skipfooter=5)
test_skipfooter = pd.read_csv('test.csv', skipfooter=5)

train_skipfooter.tail()

C:\Users\USER\anaconda3\envs\kg-study\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.
C:\Users\USER\anaconda3\envs\kg-study\lib\site-packages\ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.

       癤퓁ndex  category                                               data
39990   39990         2  援먯쑁鍮꾩���썝�뿉 ����빐(媛�議깃뎄�꽦�썝 湲곗��). 援먯쑁鍮꾩���썝�씠...
39991   39991         0  �씠�굺�뿰珥앸━�쓽怨좏뼢. �쁺愿�****蹂묒썝�쓣 �룓�뇙�떆耳쒖＜�떗�떆�삤 ...
39992   39992         1  鍮숈긽�뿰留뱀쓽 �뾼以묒쿂踰뚯쓣 泥��썝�빀�땲�떎. 鍮숈긽�뿰留뱀쓽 �삤�옒 臾듭...
39993   39993         2  媛��젙�뼇�쑁�닔�떦�쓣 �뜑 吏�湲됲빐二쇱꽭�슂. �슂利� �뼱由곗씠吏� �궗嫄...
39994   39994         0  援�媛� 蹂댄썕泥섎뒗 �씤沅뚰깂�븬�씤 �쐞移� �룞�쓽瑜� �룓吏��븯�씪. 異붽��0

In [16]:
train = pd.read_csv('train.csv')
train.tail()

       index  category                                               data
39995  39995         2  시간유연근무제. 저는 국립대에서 일하고 있는 비정규직 근로자입니다.\n동시에  두 ...
39996  39996         0  소년법을 폐지해 주시고 부산 여중생 가해자 학생들의 강력한 처벌을 요구합니다. 소년...
39997  39997         2  무서운데 지켜야 할게 있어요 도와주세요. 안녕하세요 . 한부모엄마 입니다.\n양육비...
39998  39998         2  교복에  고정식 이름표를 달게 하는 것을 금지해 주세요.. 교복에 이름표를 박아놓아...
39999  39999         0  합의성관계 가능 나이연령을 올리십시오. 제가 형법공부를하다가 문제를풀고있는데\n금지...

데이터의 인코딩 형식을 맞춰서 불러오기

In [17]:
train = pd.read_csv('train_no_encoding.csv', encoding='cp949')
train.head()

   index  category                                               data
0      0         2  신혼부부위한 주택정책 보다 보육시설 늘려주세요.. 국민세금으로 일부를 위한 정책펴지...
1      1         0  학교이름에 '남자'도 붙여주세요. 울산여자중학교에 재학중인 학생입니다 최근 양성평등...
2      2         1  빙상연맹, 대한축구협회등 각종 체육협회의 비리를 철저하게 밝혀주세요.. 최근 동계올...
3      3         1  티비 12세,15세 관람가도 연령확인 의무화 하자.. 제기 에전에 티비를 보다가 잠...
4      4         1  무더운 여름철엔 남성들도 시원한 자율복장을 해야. 무더운 여름철에는 남성들도 노넥타...

In [18]:
train = pd.read_csv('train_no_encoding.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xbd in position 0: invalid start byte

컬럼명 지정 names=[]

In [19]:
train_names = pd.read_csv('train.csv', names=['인덱스', '카테고리', '텍스트'])
test_names = pd.read_csv('test.csv', names=['인덱스', '카테고리', '텍스트'])

train_names.head()

     인덱스      카테고리                                                텍스트
0  index  category                                               data
1      0         2  신혼부부위한 주택정책 보다 보육시설 늘려주세요.. 국민세금으로 일부를 위한 정책펴지...
2      1         0  학교이름에 '남자'도 붙여주세요. 울산여자중학교에 재학중인 학생입니다 최근 양성평등...
3      2         1  빙상연맹, 대한축구협회등 각종 체육협회의 비리를 철저하게 밝혀주세요.. 최근 동계올...
4      3         1  티비 12세,15세 관람가도 연령확인 의무화 하자.. 제기 에전에 티비를 보다가 잠...

skiprows 옵션활용 시 상위 n개행을 제외하고 데이터 불러올 수 있음

In [20]:
train_names = pd.read_csv('train.csv', names=['인덱스', '카테고리', '텍스트'], skiprows=1)
train_names.head()

   인덱스  카테고리                                                텍스트
0    0     2  신혼부부위한 주택정책 보다 보육시설 늘려주세요.. 국민세금으로 일부를 위한 정책펴지...
1    1     0  학교이름에 '남자'도 붙여주세요. 울산여자중학교에 재학중인 학생입니다 최근 양성평등...
2    2     1  빙상연맹, 대한축구협회등 각종 체육협회의 비리를 철저하게 밝혀주세요.. 최근 동계올...
3    3     1  티비 12세,15세 관람가도 연령확인 의무화 하자.. 제기 에전에 티비를 보다가 잠...
4    4     1  무더운 여름철엔 남성들도 시원한 자율복장을 해야. 무더운 여름철에는 남성들도 노넥타...

인덱스 포함 하지 않음 index=False

In [21]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

train.to_csv('train.csv', index=False)
test.to_csv('train.csv', index=False)

value_counts() 데이터에서 label 고유값의 개수
value_counts() 데이터에서 label 값들의 비율을 확인 할때 많이 사용

In [22]:
zip_file = zipfile.ZipFile('청와대 청원.zip')
zip_file.extractall()

train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [23]:
train['category'].value_counts()

2    13362
1    13337
0    13301
Name: category, dtype: int64

### 텍스트 데이터 전처리 개요

  1. 클렌징
    - 텍스트 데이터에서 분석에 오히려 방해가 되는 불필요한 문자나 기호등을 분석전에 제거 하는 방법

  2. 필터링/STOPWORD 지정
    - 데이터 분석에 큰 의미가 없는 단어를 불용어로 설정 후 데이터에서 제거

  3. 토큰화
    - 형태소 분석을 통해문장을 형태소 단위의 토큰으로 분리

  4. Stemming(어간 추출) / Lemmatization(표제어 추출)
    - 어간 추출이란 일부 철자가 훼손된 어근 단어를 추출
    - 표제어 추출이 더 장확히 어근 단어를 찾아줌

문자열.replace(old, new, [count])

- old : 현재 문자열에서 변경하고 싶은 문자

- new : 새로 바꿀 문자

- count : 변경할 횟수

In [24]:
string = 'hello python'

string_replace = string.replace('hello', 'hi')

print(string_replace)

hi python

In [25]:
string = '123,456,789'

print(string.replace(',','',1))

print(string.replace(',',''))

123456,789
123456789

isalpha() - 문자열에 알파벳이 포함되어 있는지 여부를 확인할 때 사용

In [26]:
string="Hello$@ Python3&"

isalpha_list = []

for c in string:
    if c.isalpha():
        isalpha_list.append(c)
        
string_isalpha = ''.join(isalpha_list)
print(string_isalpha)

HelloPython

isalnum() - 문자열의 문자가 알파벳 및 숫자인지 확인하는데 사용됨

In [27]:
string="year : 2021, month : 09, day : 24"

isalnum_list = []

for c in string:
    if c.isalnum():
        isalnum_list.append(c)
        
string_isalnum = ''.join(isalnum_list)
print(string_isalnum)

year2021month09day24

isdecimal() - 해당 문자열이 0~9까지의 수로 이루어진 것인지 검사

In [28]:
string="1-2$3%4 5a"

isdecimal_list = []

for c in string:
    if c.isdecimal():
        isdecimal_list.append(c)
        
string_isdecimal = ''.join(isdecimal_list)
print(string_isdecimal)

12345

모든 train 데이터에 한번에 replace 함수를 적용하기 위해서는 apply() 함수, lambda() 함수를 함께 사용하면 됨

In [29]:
train = pd.read_csv('train.csv', usecols=['category', 'data'])
test = pd.read_csv('test.csv', usecols=['data'])

In [30]:
train.head()

   category                                               data
0         2  신혼부부위한 주택정책 보다 보육시설 늘려주세요.. 국민세금으로 일부를 위한 정책펴지...
1         0  학교이름에 '남자'도 붙여주세요. 울산여자중학교에 재학중인 학생입니다 최근 양성평등...
2         1  빙상연맹, 대한축구협회등 각종 체육협회의 비리를 철저하게 밝혀주세요.. 최근 동계올...
3         1  티비 12세,15세 관람가도 연령확인 의무화 하자.. 제기 에전에 티비를 보다가 잠...
4         1  무더운 여름철엔 남성들도 시원한 자율복장을 해야. 무더운 여름철에는 남성들도 노넥타...

In [31]:
train.data[0]

'신혼부부위한 주택정책 보다 보육시설 늘려주세요.. 국민세금으로 일부를 위한 정책펴지 마시고\\n보편적으로 모든국민이 수긍할  수 있는 복지정책 펴 주시길 바랍니다.\\n저도 신혼부부이지만 당첨되는 사람 로또되는 이런주택정책 반대합니다.\\n국민세금을 일부 사람들에게 퍼주기식이 되면 안되죠..\\n그 세금으로 우리아이 안전하게 맡길 수 있는 보육시설을 전국에 설치해 주세요..\\n대기업들은 솔선수범해서 모든 사업장에 의무설치 할 수 있도록 하시구요..\\n집 보다 애 맡길데가 없어 경력단절 되는게 더 괴롭습니다.!\\n집은 개인의 능력을 키워 사는게 맞습니다.\\n그 능력을 키울수 있도록 육아 전담에 힘을 기울이는게 맞습니다.\\n우리아이 부모가 키우는거 맞지만 이제는 국가가\\n책임지는 시대로 가는게 맞다고 봅니다.\\n그렇잖아도 부동산 가격 자꾸 올라가는게 정부정책이 잘못 되었다고 봅니다.\\n부동산은 그냥 내버려 두세요!  좀!\\n건들수록 역효과네요..'

In [32]:
train['data'] = train['data'].apply(lambda x : str(x).replace('\\n',''))
test['data'] = test['data'].apply(lambda x : str(x).replace('\\n',''))

train.data[0]

'신혼부부위한 주택정책 보다 보육시설 늘려주세요.. 국민세금으로 일부를 위한 정책펴지 마시고보편적으로 모든국민이 수긍할  수 있는 복지정책 펴 주시길 바랍니다.저도 신혼부부이지만 당첨되는 사람 로또되는 이런주택정책 반대합니다.국민세금을 일부 사람들에게 퍼주기식이 되면 안되죠..그 세금으로 우리아이 안전하게 맡길 수 있는 보육시설을 전국에 설치해 주세요..대기업들은 솔선수범해서 모든 사업장에 의무설치 할 수 있도록 하시구요..집 보다 애 맡길데가 없어 경력단절 되는게 더 괴롭습니다.!집은 개인의 능력을 키워 사는게 맞습니다.그 능력을 키울수 있도록 육아 전담에 힘을 기울이는게 맞습니다.우리아이 부모가 키우는거 맞지만 이제는 국가가책임지는 시대로 가는게 맞다고 봅니다.그렇잖아도 부동산 가격 자꾸 올라가는게 정부정책이 잘못 되었다고 봅니다.부동산은 그냥 내버려 두세요!  좀!건들수록 역효과네요..'

형태소 분석기 - Okt, Komoran, Kkma 총 3가지

In [34]:
# 형태소 분석할 텍스트 정의
text = '마음에 꽂힌 칼한자루 보다 마음에 꽂힌 꽃한송이가 더 아파서 잠이 오지 않는다'

In [35]:
# 형태소 분석기 정의

from konlpy.tag import Kkma, Komoran, Okt

okt = Okt()
kkm = Kkma()
kom = Komoran()

In [36]:
kom.pos(text)

[('마음', 'NNG'),
 ('에', 'JKB'),
 ('꽂히', 'VV'),
 ('ㄴ', 'ETM'),
 ('칼', 'NNG'),
 ('한자', 'NNP'),
 ('루', 'JKB'),
 ('보다', 'MAG'),
 ('마음', 'NNG'),
 ('에', 'JKB'),
 ('꽂히', 'VV'),
 ('ㄴ', 'ETM'),
 ('꽃', 'NNG'),
 ('한송이', 'NNP'),
 ('가', 'JKS'),
 ('더', 'MAG'),
 ('아파서', 'NNP'),
 ('잠', 'NNG'),
 ('이', 'JKS'),
 ('오', 'VV'),
 ('지', 'EC'),
 ('않', 'VX'),
 ('는다', 'EC')]

In [37]:
kkm.pos(text)

[('마음', 'NNG'),
 ('에', 'JKM'),
 ('꽂히', 'VV'),
 ('ㄴ', 'ETD'),
 ('칼', 'NNG'),
 ('한자', 'NNG'),
 ('로', 'JKM'),
 ('보다', 'MAG'),
 ('마음', 'NNG'),
 ('에', 'JKM'),
 ('꽂히', 'VV'),
 ('ㄴ', 'ETD'),
 ('꽃', 'NNG'),
 ('한', 'MDN'),
 ('송이', 'NNG'),
 ('가', 'JKS'),
 ('더', 'MAG'),
 ('아프', 'VA'),
 ('아서', 'ECD'),
 ('잠', 'NNG'),
 ('이', 'JKS'),
 ('오', 'VV'),
 ('지', 'ECD'),
 ('않', 'VXV'),
 ('는', 'EPT'),
 ('다', 'EFN')]

In [38]:
okt.pos(text, norm=True, stem=True)

[('마음', 'Noun'),
 ('에', 'Josa'),
 ('꽂히다', 'Verb'),
 ('칼', 'Noun'),
 ('한', 'Determiner'),
 ('자루', 'Noun'),
 ('보다', 'Verb'),
 ('마음', 'Noun'),
 ('에', 'Josa'),
 ('꽂히다', 'Verb'),
 ('꽃', 'Noun'),
 ('한송이', 'Noun'),
 ('가', 'Josa'),
 ('더', 'Noun'),
 ('아프다', 'Adjective'),
 ('잠', 'Noun'),
 ('이', 'Josa'),
 ('오지', 'Noun'),
 ('않다', 'Verb')]

In [39]:
train = pd.read_csv('train.csv', usecols=['category', 'data'])
test = pd.read_csv('test.csv', usecols=['data'])

In [40]:
from konlpy.tag import Okt

okt=Okt()

In [41]:
# 텍스트 데이터에서 '\\n' 문자열 제거

train['data'] = train['data'].apply(lambda x : str(x).replace('\\n',' ')) # 텍스트 데이터에서 '\\n' 문자열을 ' '로 변경
test['data'] = test['data'].apply(lambda x : str(x).replace('\\n',' ')) # 텍스트 데이터에서 '\\n' 문자열을 ' '로 변경

In [42]:
train.data[0]

'신혼부부위한 주택정책 보다 보육시설 늘려주세요.. 국민세금으로 일부를 위한 정책펴지 마시고 보편적으로 모든국민이 수긍할  수 있는 복지정책 펴 주시길 바랍니다. 저도 신혼부부이지만 당첨되는 사람 로또되는 이런주택정책 반대합니다. 국민세금을 일부 사람들에게 퍼주기식이 되면 안되죠.. 그 세금으로 우리아이 안전하게 맡길 수 있는 보육시설을 전국에 설치해 주세요.. 대기업들은 솔선수범해서 모든 사업장에 의무설치 할 수 있도록 하시구요.. 집 보다 애 맡길데가 없어 경력단절 되는게 더 괴롭습니다.! 집은 개인의 능력을 키워 사는게 맞습니다. 그 능력을 키울수 있도록 육아 전담에 힘을 기울이는게 맞습니다. 우리아이 부모가 키우는거 맞지만 이제는 국가가 책임지는 시대로 가는게 맞다고 봅니다. 그렇잖아도 부동산 가격 자꾸 올라가는게 정부정책이 잘못 되었다고 봅니다. 부동산은 그냥 내버려 두세요!  좀! 건들수록 역효과네요..'

In [43]:
# 조사를 제거하기 위한 함수 정의

def func(text):
    
    # 형태소 분석
    okt_pos = okt.pos(str(text), norm=True, stem=True)
    
    # 조사를 제거한 새로운 문자열 정의
    new_word = ''
    
    for word, pos in okt_pos:
        
        #품사가 조사가 아니면
        if pos != 'Josa':
            # 새로운 문자열에 추가
            new_word+=word
            
    return new_word

train['data'] = train['data'].apply(lambda x : func(x))
test['data'] = test['data'].apply(lambda x : func(x))

KeyboardInterrupt:

In [ ]:
test.isnull().sum()

CounterVectorizer - 각 단어가 나온 수만큼 단어에 매핑

In [44]:
train = pd.read_csv('train.csv', usecols=['category', 'data'])
test = pd.read_csv('test.csv', usecols=['data'])

In [45]:
#결측치처리 - 결측치가 존재하면 CountVectorizer 적용x

train.fillna(' ', inplace=True)

In [47]:
# 라이브러리 로딩
from sklearn.feature_extraction.text import CountVectorizer

vect = CountVectorizer()
vect.fit(train['data'])
train_x = vect.transform(train['data'])

print('train 데이터 사이즈', train_x.shape)

train 데이터 사이즈 (40000, 742720)

In [48]:
#Train Data로 fit()된 ConVectorizer를 이용해 테스트 데이터를 Feature Vector화 변환 수행

test_x = vect.transform(test['data'])
print('test 데이터 사이즈', test_x.shape)

test 데이터 사이즈 (5000, 742720)