In [1]:
# 라이브러리 불러오기

import numpy as np
import pandas as pd
import matplotlib
import zipfile

### 데이터셋 압축해제

In [2]:
zip_file = zipfile.ZipFile('../zip/poketmon.zip')
zip_file.extractall('../csv/')

### EDA

In [31]:
df = pd.read_csv('../csv/Pokemon.csv')
df.info()

TypeError: read_csv() got an unexpected keyword argument 'index'

In [6]:
df.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

In [7]:
df.isnull().sum()

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

### 결측치가 너무 많은 Type 2 column 을 제거

In [8]:
df.drop('Type 2', axis=1, inplace=True)

In [9]:
df.head(10)

,#,Name,Type 1,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,314,44,48,65,50,64,43,1,False

In [10]:
df['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

In [13]:
df['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64