### 1. 퍼아썬 파일 불러오기

In [2]:
import zipfile

zip_file = zipfile.ZipFile('청와대 청원.zip')
zip_file.extractall()

In [8]:
import pandas as pd

# 데이터를 3번째 행 까지만 불러오기 (nrow = 3)

trian_3 = pd.read_csv('train.csv', nrows=3)
test_3 = pd.read_csv('test.csv', nrows=3)

In [6]:
trian_3.head()

   index  category                                               data
0      0         2  신혼부부위한 주택정책 보다 보육시설 늘려주세요.. 국민세금으로 일부를 위한 정책펴지...
1      1         0  학교이름에 '남자'도 붙여주세요. 울산여자중학교에 재학중인 학생입니다 최근 양성평등...
2      2         1  빙상연맹, 대한축구협회등 각종 체육협회의 비리를 철저하게 밝혀주세요.. 최근 동계올...

In [7]:
train = pd.read_csv('train.csv')
train.head()

   index  category                                               data
0      0         2  신혼부부위한 주택정책 보다 보육시설 늘려주세요.. 국민세금으로 일부를 위한 정책펴지...
1      1         0  학교이름에 '남자'도 붙여주세요. 울산여자중학교에 재학중인 학생입니다 최근 양성평등...
2      2         1  빙상연맹, 대한축구협회등 각종 체육협회의 비리를 철저하게 밝혀주세요.. 최근 동계올...
3      3         1  티비 12세,15세 관람가도 연령확인 의무화 하자.. 제기 에전에 티비를 보다가 잠...
4      4         1  무더운 여름철엔 남성들도 시원한 자율복장을 해야. 무더운 여름철에는 남성들도 노넥타...

In [9]:
# 데이터를 실습에 맞게 조작

train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
df = pd.DataFrame({
                    'index' : ['인덱스'],
                    'category' : ['카테고리'],
                    'data' : ['데이터']
                    })

train_new = pd.concat([df, train])
test_new = pd.concat([df, test])

train_new.to_csv('train.csv', index=False)
test_new.to_csv('test.csv', index=False)

In [10]:
# 데이터의 두번째 행을 컬럼으로 지정하여 불러오기

train = pd.read_csv('train.csv', header=1)
test = pd.read_csv('test.csv', header=1)

In [11]:
train.head()

   인덱스  카테고리                                                데이터
0    0     2  신혼부부위한 주택정책 보다 보육시설 늘려주세요.. 국민세금으로 일부를 위한 정책펴지...
1    1     0  학교이름에 '남자'도 붙여주세요. 울산여자중학교에 재학중인 학생입니다 최근 양성평등...
2    2     1  빙상연맹, 대한축구협회등 각종 체육협회의 비리를 철저하게 밝혀주세요.. 최근 동계올...
3    3     1  티비 12세,15세 관람가도 연령확인 의무화 하자.. 제기 에전에 티비를 보다가 잠...
4    4     1  무더운 여름철엔 남성들도 시원한 자율복장을 해야. 무더운 여름철에는 남성들도 노넥타...

In [12]:
# 원본 비교

train = pd.read_csv('train.csv')
train.head()

  index category                                               data
0   인덱스     카테고리                                                데이터
1     0        2  신혼부부위한 주택정책 보다 보육시설 늘려주세요.. 국민세금으로 일부를 위한 정책펴지...
2     1        0  학교이름에 '남자'도 붙여주세요. 울산여자중학교에 재학중인 학생입니다 최근 양성평등...
3     2        1  빙상연맹, 대한축구협회등 각종 체육협회의 비리를 철저하게 밝혀주세요.. 최근 동계올...
4     3        1  티비 12세,15세 관람가도 연령확인 의무화 하자.. 제기 에전에 티비를 보다가 잠...

In [13]:
# 변환된 csv 파일 원상복구

zip_file = zipfile.ZipFile('청와대 청원.zip')
zip_file.extractall()